head
  title Glitch Email Templates
  // link(id="favicon" rel="icon" href="https://hyperdev.com/favicon.ico" type="image/x-icon")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="styles.css" type="text/css")

body
  header
    img.email(alt="" src="https://cdn.glitch.com/4463405e-8013-4592-b993-92efb547fa13%2Fgiphy.gif?1534267569894")

    h1 Glitch Email Templates
  main
    p This creates the transactional emails that get sent to users
    ul
      li
        a(href="/email-login") email-login
      li
        a(href="/join-team") join-team
      li
        a(href="/join-team-anon") join-team-anon
      li
        a(href="/team-deleted") team-deleted
  footer
  
    a(href="https://glitch.com/edit/#!/email") 
      button View Source
      // img(src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fview-source%402x.png?1513093958802" height="33")
