head
  title= title
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="styles.css" type="text/css")

body
  main
    block content

  footer
    a(href="https://glitch.com")
      img.logo(src="https://cdn.glitch.com/4463405e-8013-4592-b993-92efb547fa13%2Fglitch-fish-small.png")
    p Glitch is the friendly community where you'll remix and build the app of your dreams
